.recipecard_container {
  display: flex;
  width: 25%;
  justify-content: center;
  margin: 16px 0;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(40, 40, 36, 0.8);
  transition: 0.3s;
}

.recipecard_container:hover {
  scale: 1.1;
}

.recipecard_link {
  text-decoration: none;
}

.recipecard_img {
  width: 312px;
  height: 231px;
}

.recipecard_text {
  color: rgb(219, 218, 215);
}
