.recipecard_container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-content: center;
  /* margin: 2em 2.5em; */
  padding: 2em 2em;
  margin: 1em auto;
  border-radius: 1em;
  background-color: rgba(40, 40, 36, 0.8);
  transition: 0.3s;
  max-width: 25em;
  min-width: 23em;
}

.recipecard_container:hover {
  scale: 1.1;
}

.recipecard_link {
  text-decoration: none;
}

.recipecard_img {
  width: 312px;
  height: 231px;
}

.recipecard_text {
  color: rgb(219, 218, 215);
}
