.detail_container_All {
  position: absolute;
  top: 10vh;
  width: 100vw;
}

.detail_container {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.detail_button {
  color: rgb(219, 218, 215);
  background-color: rgb(40, 40, 36);
  border-radius: 15px;
  font-size: 24px;
  border: none;
  transition: 0.3s;
}

.detail_button:hover {
  color: rgb(219, 218, 215);
  background-color: rgb(145, 127, 34);
  scale: 1.1;
}

.detail_recipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding: 15px;
  font-size: 20px;
  color: rgb(219, 218, 215);
  background-color: rgba(40, 40, 36, 0.8);
  border-radius: 24px;
}

.detail_img {
  width: 556px;
  height: 370px;
}

.detail_text {
  color: rgb(219, 218, 215);
  text-decoration: none;
  text-align: justify;
  word-break: break-all;
}

.detail_text b {
  font-weight: normal;
}

.detail_text a:link {
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}

.detail_container_img {
  justify-content: center;
  align-self: center;
}

.detail_container_step {
  margin: 10px 0px;
  padding: 20px;
  background-color: rgba(40, 40, 36, 0.8);
  border-radius: 24px;
}

.detail_step_text {
  text-align: left;
  font-size: 20px;
  color: rgb(219, 218, 215);
  word-break: break-all;
}

.detail_step_title {
  font-size: 20px;
  color: rgb(219, 218, 215);
}
