.detail_container_All {
  /* width: 100vw; */
  /* min-height: 100vh; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  row-gap: 2em;
  grid-template-areas:
    "nav     nav"
    "summary image"
    "step    step"
    "footer  footer";
}

.grid_nav {
  grid-area: nav;
}

.grid_footer {
  grid-area: footer;
}

.detail_container {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.detail_button {
  color: rgb(219, 218, 215);
  background-color: rgb(40, 40, 36);
  border-radius: 15px;
  font-size: 24px;
  border: none;
  transition: 0.3s;
}

.detail_button:hover {
  color: rgb(219, 218, 215);
  background-color: rgb(145, 127, 34);
  scale: 1.1;
}

.detail_recipe {
  grid-area: summary;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding: 15px;
  font-size: 20px;
  color: rgb(219, 218, 215);
  background-color: rgba(40, 40, 36, 0.8);
  border-radius: 24px;
  margin: 0 auto;
}

.detail_img {
  max-width: 90%;
  height: auto;
}

.detail_text {
  color: rgb(219, 218, 215);
  text-decoration: none;
  text-align: justify;
  word-break: break-all;
}

.detail_text b {
  font-weight: normal;
}

.detail_text a:link {
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}

.detail_container_img {
  grid-area: image;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}

.detail_container_step {
  grid-area: step;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(40, 40, 36, 0.8);
  border-radius: 24px;
  width: 90%;
}

.detail_step_text {
  text-align: left;
  font-size: 20px;
  color: rgb(219, 218, 215);
  word-break: break-all;
}

.detail_step_title {
  font-size: 20px;
  color: rgb(219, 218, 215);
}

@media screen and (max-width: 64em) {
  .detail_container_All {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 2em;
    grid-template-areas:
      "nav    "
      "image "
      "summary"
      "step   "
      "footer ";
  }
}
