.form_container {
  height: 90vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 10vh;
  width: 100%;
}
.form_create {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(110, 128, 221, 0.4);
  width: 80%;
  height: 85%;
  color: rgb(219, 218, 215);
}

.form_document {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  border-radius: 0.6rem;
  color: black;
  justify-content: center;
}

.form_img {
  width: 312px;
  height: 231px;
  margin: 20px;
}

.form_home {
  display: flex;
  justify-content: flex-start;
  width: 4.5em;
  font-size: 1.5em;
  border-radius: 15px;
  cursor: pointer;
  color: rgb(219, 218, 215);
  background-color: rgb(40, 40, 36);
  transition: 0.3s;
}

.form_home:hover {
  background-color: rgb(145, 127, 34);
  scale: 1.1;
}

.form_link {
  text-decoration: none;
}

.form_submit {
  display: flex;
  justify-items: center;
  align-self: center;
  font-size: 24px;
  text-align: center;
  width: 5em;
  height: 2.5em;
  margin: 15px;
  border-radius: 15px;
  color: white;
  background-color: grey;
  border: none;
  cursor: not-allowed;
}

.form_select {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 310px;
  margin: 10px;
  color: rgb(219, 218, 215);
}

.button_diet {
  margin: 10px;
  border-radius: 16px;
  color: rgb(219, 218, 215);
  background-color: rgb(40, 40, 36);
  transition: 0.3s;
  cursor: pointer;
}

.button_diet:hover {
  background-color: rgb(145, 127, 34);
}

.form_submit_active {
  display: flex;
  justify-items: center;
  align-self: center;
  font-size: 24px;
  text-align: center;
  width: 5em;
  height: 2.5em;
  margin: 15px;
  border-radius: 15px;
  color: rgb(219, 218, 215);
  background-color: rgb(195, 135, 16);
  cursor: pointer;
}

.form_input {
  height: 25px;
  margin: 5px;
}

.form_input_number {
  height: 25px;
  margin: 5px;
  width: 310px;
}

.form_input_textarea {
  height: 15%;
  margin: 5px;
}

.form_error {
  color: rgb(219, 218, 215);
  font-size: 16px;
  padding: 1px;
}

.form_card {
  background-color: rgba(40, 40, 36, 1);
  border-radius: 16px;
  display: flex;
  width: 400px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.form_card_name {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
