.container_all {
  position: absolute;
  top: 10vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container_card {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
