.container_all {
  display: grid;
  grid-template-columns: repeat(1, 20em 1fr);
  grid-template-rows: repeat(6, auto);
  column-gap: 2em;
  row-gap: 0.5em;
  /* overflow: hidden; */
  grid-template-areas:
    "nav     nav "
    "search  search "
    "pag     pag    "
    "sidebar content  "
    "sidebar content  "
    "sidebar content ";
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.grid_nav {
  grid-area: nav;
  position: sticky;
  top: -0.15rem;
  z-index: 999;
}

.grid_search {
  grid-area: search;
}

.grid_pag {
  grid-area: pag;
  width: 50%;
  margin: 0 auto;
}

.grid_sidebar {
  grid-area: sidebar;
}

.container_card {
  grid-area: content;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: var(--step--1);
  margin: 0 auto;
}

.flex_item {
  flex: 0 0 33.333333333%;
}

@media screen and (max-width: 96em) {
  .flex_item {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 64em) {
  .flex_item {
    flex: 0 0 100%;
  }
}
@media screen and (max-width: 48em) {
  .container_all {
    column-gap: 4em;
  }
}
@media screen and (max-width: 30em) {
  .container_all {
    /* top: 20vh; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    column-gap: 0;
    grid-template-areas:
      "nav     nav     nav     nav     "
      "search  search  search  search  "
      "pag     pag     pag     pag     "
      "sidebar sidebar sidebar sidebar "
      "content content content content ";
  }

  .container_card {
    width: 50%;
    margin: 0 auto;
    padding: 0;
  }

  .grid_search {
    width: 95%;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
  }
  .grid_pag {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 20em) {
  .grid_search {
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
  }
  .grid_pag {
    width: 100%;
    margin: 0 auto;
  }
}
