.searchBar_container {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  width: 60%;
  align-content: center;
  align-self: center;
  align-items: center;
  margin: 15px auto;
  border-radius: 15px;
  background-color: rgba(43, 67, 186, 0.8);
}

/* input[type="text"] {
  width: 80%;
} */

.searchBar_button {
  font-size: 20px;
  color: rgb(219, 218, 215);
  background-color: rgb(40, 40, 36);
  margin-left: 16px;
  transition: 0.3s;
  border-radius: 16px;
  border: none;
}

.searchBar_button:hover {
  background-color: rgb(145, 127, 34);
  scale: 1.1;
}

.searchBar_input {
  font-size: 20px;
  background-color: rgb(40, 40, 36);
  color: rgb(219, 218, 215);
  border: none;
  width: 80%;
}

.searchBar_input::placeholder {
  color: rgb(219, 218, 215);
}

@media screen and (max-width: 64em) {
  .searchBar_container {
    width: 80%;
  }
}

@media screen and (max-width: 48em) {
  .searchBar_container {
    width: 90%;
  }
}

@media screen and (max-width: 30em) {
  .searchBar_container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* input[type="text"] {
    width: 80%;
    margin-bottom: 0.5em;
  } */

  .searchBar_input {
    width: 80%;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 20em) {
  .searchBar_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* input[type="text"] {
    width: 80%;
    margin-bottom: 0.5em;
  } */
}
