.NavBar_container {
  width: 100%;
  background-color: rgb(110, 128, 221);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
  height: 100px;
}

.NavBar_img {
  height: 4em;
}

.NavBar_button {
  font-size: 1em;
  padding: 16px;
  border-radius: 15px;
  color: rgb(219, 218, 215);
  background-color: rgb(40, 40, 36);
  transition: 0.3s;
  border: none;
}

.NavBar_button:hover {
  background-color: rgb(145, 127, 34);
  scale: 1.2;
}

.NavBar_buttons {
  display: flex;
  justify-content: space-around;
  align-self: center;
  gap: 1em;
}

@media screen and (max-width: 30em) {
  .NavBar_container {
    height: 11.5em;
  }

  .NavBar_img {
    display: none;
  }

  .NavBar_buttons {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: center;
    gap: 0.8em;
  }
}
